@import "../varaibles.scss";
.container {
  @include breakpoint(sm) {
    padding: 0 30px;
  }
  &__text {
    p {
      font-size: 25px;
      font-weight: 600;
    }
  }

  &__loadingBarDiv {
    display: flex;
    justify-content: center;
  }
}
