@import "../varaibles.scss";
.item {
  position: relative;
  cursor: pointer;
  background: white;
  box-shadow: $shadow-item-bottom;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.2s ease-in-out box-shadow;
  // max-width: 280px;
  @include breakpoint(xs) {
    // max-width: 300px;
  }
  &:hover {
    box-shadow: $shadow-blue;
  }
  &__image {
    // width: 100%;
    background-color: white;
    // height: 65%;
    padding: 10px;
    @include breakpoint(xs) {
      // padding: 0;
    }
    img {
      // border: 3px solid red;
      // margin-bottom: 20px;
      // position: relative;
      // margin-bottom: 30px;
      @include breakpoint(xs) {
        // position: relative;
        // width: 80%;
        // z-index: 0;
        // margin: 0 auto;
      }
      // @include breakpoint(xs) {
      //   margin-bottom: 10%;
      // }
    }
    &__icon {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      margin: 4%;
      padding: 7px;
      border-radius: 20px;
      background: $orangina;
      transition: 0.2s ease-in-out box-shadow;
      @include breakpoint(xs) {
        display: none;
      }
      &:hover {
        box-shadow: $shadow-oranginga;
      }
    }
  }

  &__desc {
    // width: 100%;
    // height: 35%;
    background: $pinkish;
    border-radius: 20px;
    box-shadow: $shadow-item-bottom;
    padding: 10px 10px;

    @include breakpoint(xs) {
      // padding: 7px;
    }
    p:nth-child(1) {
      font-size: 12px;
      font-weight: 600;
      color: $text-grey;
    }
    p:nth-child(2) {
      font-size: 15px;
      font-weight: 600;
      color: $nav-icons-fill;
      @include breakpoint(xs) {
        font-size: 12px;
      }
    }
    p:nth-child(3) {
      font-size: 13px;
      font-weight: 600;
      color: $text-grey;
      @include breakpoint(xs) {
        display: none;
      }
    }
    &__priceCart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint(xs) {
        // justify-content: space-around;
      }
      &__likeCartDiv {
        display: flex;
        justify-content: center;

        @include breakpoint(xs) {
          // justify-content: space-around;
          width: 50%;
        }
        &__likeIcon {
          display: none !important;
          padding: 6px;
          border-radius: 20px;
          background: $orangina;
          margin-right: 10%;
          @include breakpoint(xs) {
            display: block !important;
          }
        }
      }

      // &__likeIcon {
      //   display: flex;
      //   border: 2px solid green;
      //   width: 50%;
      // }
      p {
        font-size: 16px !important;
        color: black !important;
        @include breakpoint(xs) {
          font-size: 13px !important;
        }
        span {
          color: $text-grey;
          margin-left: 5px;
          @include breakpoint(xs) {
            font-size: 13px !important;
          }
        }
      }
    }
    button {
      // margin-left: 10%;
      display: flex;
      background: $button-bg;
      padding: 4px 8px;
      border-radius: 8px;
      color: white;
      fill: white !important;
      transition: 0.2s ease-in-out box-shadow;
      @include breakpoint(xs) {
        border-radius: 20px;
        padding: 6px;
      }
      &:hover {
        box-shadow: $button-shadow;
      }
      span {
        margin-left: 5px;
        font-size: 13px;
        @include breakpoint(xs) {
          display: none;
        }
      }
    }
  }
}
