@import "../varaibles.scss";
.item {
  position: relative;
  cursor: pointer;
  background: white;
  box-shadow: $shadow-item-bottom;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.2s ease-in-out transform;
  // max-height: 320px;
  width: 260px;
  // height: 320px;
  display: flex;
  flex-direction: column;
  @include breakpoint(xs) {
  }
  &:hover {
    transform: translateY(-5px);
  }
  &__image {
    background-color: white;
    padding: 10px;
    height: 63%;
    height: 200px;
    @include breakpoint(xs) {
    }
    img {
      border-radius: 14px;
      height: 100%;
      width: 100%;
      @include breakpoint(xs) {
      }
    }
    &__icon {
      position: absolute;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      margin: 4%;
      padding: 7px;
      border-radius: 20px;
      background: $orangina;
      transition: 0.2s ease-in-out all;
      @include breakpoint(xs) {
        display: none;
      }
      &:hover {
        box-shadow: $shadow-oranginga;
        transform: scale(1.1);
      }
    }
  }

  &__desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37%;
    background: $pinkish;
    border-radius: 20px;
    box-shadow: $shadow-item-bottom;
    height: 112px;
    padding: 10px 15px;
    &__info {
      h1 {
        font-size: 14px;
        font-weight: 600;
        span {
          font-weight: 300;
        }
        // margin-bottom: 3px;
      }
      p {
        font-size: 14px;
        font-weight: 600;
      }
    }
    // @include breakpoint(xs) {
    //   // padding: 7px;
    // }
    // p:nth-child(1) {
    //   font-size: 14px;
    //   font-weight: 600;
    //   color: $text-grey;
    // }
    // p:nth-child(2) {
    //   font-size: 15px;
    //   font-weight: 600;
    //   color: $nav-icons-fill;
    //   @include breakpoint(xs) {
    //     font-size: 12px;
    //   }
    // }
    // p:nth-child(3) {
    //   font-size: 14px;
    //   font-weight: 600;
    //   position: absolute;
    //   top: 50px;
    //   color: red;
    //   @include breakpoint(xs) {
    //     display: none;
    //   }
    // }
    &__priceCartUser {
      flex-direction: column;
    }
    &__priceCart,
    &__priceCartUser {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__price {
        display: flex;
        align-items: center;

        h1 {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: 600;
          span {
            font-size: 17px;
            font-weight: 300;
            margin-left: 8px;
          }
        }
      }
      @include breakpoint(xs) {
      }

      &__likeCartDiv {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include breakpoint(xs) {
          width: 50%;
        }
        // &__likeIcon {
        //   display: none !important;
        //   padding: 6px;
        //   border-radius: 20px;
        //   background: $orangina;
        //   margin-right: 10%;
        //   @include breakpoint(xs) {
        //     display: block !important;
        //   }
        // }
        p {
          font-size: 16px !important;
          color: black !important;
          @include breakpoint(xs) {
            font-size: 13px !important;
          }
          span {
            color: $text-grey;
            margin-left: 5px;
            @include breakpoint(xs) {
              font-size: 13px !important;
            }
          }
        }
      }
    }
    button {
      // margin-left: 10%;
      display: flex;
      background: $button-bg;
      padding: 4px 8px;
      border-radius: 8px;
      color: white;
      fill: white !important;
      transition: 0.2s ease-in-out all;
      @include breakpoint(xs) {
        border-radius: 20px;
        padding: 6px;
      }
      &:hover {
        box-shadow: $button-shadow;
        transform: scale(1.03);
      }
      span {
        margin-left: 5px;
        font-size: 13px;
        @include breakpoint(xs) {
          display: none;
        }
      }
    }
  }
}
