@import "../varaibles.scss";
.container {
  @include breakpoint(sm) {
    padding: 0 30px;
  }
  @include breakpoint(xs) {
    padding: 0 10px;
  }
  &__text {
    p {
      font-size: 25px;
      font-weight: 600;
    }
  }
}
