@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  background: url("/src/assets/bg-web-mobile.jpg") no-repeat;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* border: 2px solid red; */
  /* height: 100%; */
}
.web_dev {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* color: $regularbluespan; */
  color: rgb(117, 117, 117);
}
hr {
  margin-top: 12px;
  width: 45%;
  border: 0.2px solid rgba(117, 117, 117, 0.5);
  /* border: 1px solid $regularbluespan; */
}
