@import "../../varaibles.scss";
.bottomBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  button {
    color: white;
    padding: 5px 25px;
    background: $button-bg;
    box-shadow: $shadow-item-bottom;
  }
  &__hidden {
    display: none !important;
  }
}
