@import "../../varaibles.scss";
.container{
    background: white;
    box-shadow: $shadow-item-bottom;
    border-radius: 17px;
    margin: 5px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
        img {
            width: 65px;
            height: 65px;
            border-radius: 17px;

        }
        h1 {
                font-size: 20px;
                font-weight: 500;
                font-size: 17px;
                font-weight: 500;
    
        }
    
}