@tailwind base;
@tailwind components;
@tailwind utilities;

.signUpContainer {
  background: url("/src/assets/bg-web-mobile.jpg") no-repeat;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* border: 2px solid red; */
  /* height: 100%; */
}
.web_dev {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* color: $regularbluespan; */
  color: rgb(117, 117, 117);
}
hr {
  margin-top: 12px;
  width: 45%;
  border: 0.2px solid rgba(117, 117, 117, 0.5);
  /* border: 1px solid $regularbluespan; */
}
.navList li {
  cursor: pointer;
}
.navList li:hover {
  transition: all 0.3s;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}
/* #icon {
  color: red;
} */
