@import "../varaibles.scss";
.container {
  position: relative;
  top: 50px;
  // left: 0;
  // border: 2px solid red;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  @include breakpoint(sm) {
    position: relative !important;
  }
  @include breakpoint(height) {
    top: -50px !important;
  }
}
