@import "../varaibles.scss";
.container {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint(sm) {
    padding: 0 30px;
  }
  @include breakpoint(xs) {
    padding: 0 10px;
  }
  &__text {
    p {
      font-size: 25px;
      font-weight: 600;
    }
  }

  &__loadingBarDiv {
    display: flex;
    justify-content: center;
  }
  &__loadBtn {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
  }
}
.bottomBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  button {
    color: white;
    padding: 5px 25px;
    background: $button-bg;
    box-shadow: $shadow-item-bottom;
  }
}
