@import "../varaibles.scss";
// .disabled{
//   color: rgb(193, 193, 193) !important;
//   background: gray !important;
// }
// .enabled {
//   button {
//     transition: all ease-in-out 200ms;
//           &:hover {
//         box-shadow: $button-shadow;
//         transform: scale(1.05);
//       }
//   }
// }
.container {
  height: 90vh;
  max-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 50px;
  @include breakpoint(sm) {
    padding-bottom: 0;
  }
  @include breakpoint(mobileXs) {
    // justify-content: flex-start;
    height: 80vh;
  }
  @include breakpoint(height) {
    height: 89vh;
    top: 0;
  }

  &__sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__slideShow {
      display: flex;
      @include breakpoint(height) {
      }
      img {
        transition: transform ease-in-out 300ms;
        border-radius: 27px;
        box-shadow: $shadow-item-bottom;
        &:hover {
          transform: scale(1.2);
        }
      }
      &__sideShowOne {
        display: flex;
        align-items: center;
        margin-right: 50px;

        @include breakpoint(height) {
          img {
            width: 300px !important;
            height: 300px !important;
          }
        }
        img {
          width: 370px;
          height: 370px;
          transition: transform ease-in-out 300ms;
          &:hover {
            transform: scale(1.1);
          }
          @include breakpoint(sm) {
            width: 200px !important;
            height: 200px !important;
            // margin: 0 auto;
          }
        }
      }
      &__sideShowTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          cursor: pointer;
          height: 160px;
          width: 200px;
          @include breakpoint(sm) {
            width: 120px !important;
            height: 100px !important;
            &:nth-child(1) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  &__descContainer {
    width: 95%;
    margin: 0 auto;
    &__heading {
      margin: 10px 0;
      h1 {
        font-size: 30px;
        color: $nav-icons-fill;
        font-weight: 600;
        @include breakpoint(sm) {
          font-size: 20px;
        }
      }
    }
    &__desc {
      font-size: 19px;
      @include breakpoint(sm) {
        font-size: 15px;
      }
    }
    &__priceBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      &__price {
        display: flex;
        align-items: center;
        font-size: 20px;
        @include breakpoint(sm) {
          font-size: 17px;
        }
        h2 {
          font-weight: 600;
        }
        p {
          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
      &__wishBtn {
        button {
          display: flex;
          align-items: center;
          background: $orangina;
          border-radius: 20px;
          padding: 4px 10px;
          color: white;
          box-shadow: $shadow-item-bottom;
          transition: all ease-in-out 200ms;
          @include breakpoint(sm) {
            font-size: 14px;
            padding: 2px 7px;
          }
          &:hover {
            box-shadow: $button-shadow;
            transform: scale(1.05);
          }
        }
        p {
          margin-left: 8px;
        }
      }
    }
  }
  &__btnContainer {
    display: flex;
    justify-content: center;
    button {
      background: $button-bg;
      color: white;
      padding: 10px 0;
      border-radius: 6px;
      box-shadow: $shadow-item-bottom;
      width: 35%;
      // transition: all ease-in-out 200ms;
      @include breakpoint(sm) {
        font-size: 13px;
        padding: 5px 0;
      }
      // &:hover {
      //   box-shadow: $button-shadow;
      //   transform: scale(1.05);
      // }
    }
   
  }
}
.disabled{
  color: rgb(193, 193, 193) !important;
  background: gray !important;
}
.enabled {
  button {
    transition: all ease-in-out 200ms !important;
       &:hover {
        box-shadow: $button-shadow !important;
        transform: scale(1.05) !important;
      }
  }
}
